
.img-direita {
  float: right;
  width: 40%;
  margin: 0 0 15px 20px;
}

.img-esquerda {
  float: left;
  width: 40%;
  margin: 0 0 15px 20px;
}

.caixinha-lateral-esq {
  float: left;
  width: 35%;
  background-color: #f4f4f4;
  padding: 15px;
  margin: 10px 20px 10px 0;
  border-left: 4px solid #223a52;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .caixinha-lateral-esq {
    float: none;    
    width: 100%;    
    margin: 20px 0;
  }
}

.caixinha-lateral-dir {
  float: right;
  width: 35%;
  background-color: #f4f4f4;
  padding: 15px;
  margin: 10px 20px 10px 0;
  border-left: 4px solid #223a52;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .caixinha-lateral-dir {
    float: none;    
    width: 100%;    
    margin: 20px 0;
  }
}

